.category {
    cursor: pointer;
    width: 100%;
    border: solid 3px #2e2e2e;
    border-radius: 5px 5px 15px 15px;
    color: #fff;
    &__img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    &__name {
        background-color: #2e2e2e;
        height: 60px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }
    &:hover {
        border: solid 3px rgb(130, 0, 0);
    }
}