.product {
    border: solid 1px #2e2e2e;
    width: 100%;
    &__caption {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    &__img {
        border-bottom: solid 1px #2e2e2e;
        width: 100%;
    }
    &__price {
        align-self: end;
        font-size: 26px;
        font-weight: bold;
        color: rgb(130, 0, 0);
    }
    &__name {
        width: 100%;
        font-size: 18px;
        white-space: normal;
        word-break: break-all;
        height: 45px;
        overflow: hidden;
    }
    &__status {
        font-size: 14px;
        font-weight: bold;
        color: #ff9100;
    }
    &__buy {
        display: flex;
        justify-content: space-between;
    }
    &__btn-wrapper {
        background-color: #343434;
        border-radius: 50%;
        transition: all .3s;
    }
    &__btn {
        padding-top: 6px;
        padding-left: 6px;
        transition: all .3s;
        &:hover {
            background-color: #fff;
            svg path {
                fill: #820000;
            }
        }
    }
}