.header {
    &__input {
        width: 100%;
        padding-left: 10px;
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        margin: 0 10px;
        height: 40px;
        border-radius: 5px;
        &-btn {
            background-color: rgb(130, 0, 0);
            height: 40px;
            padding: 0 10px;
            color: #fff;
            font-weight: bold;
            border-radius: 0 5px 5px 0;
        }
    }
}